In [7]:
# Week 3 Assignment
## Logging cycling miles from NYC to Key West, FL ~ 1512 miles
### https://www.google.com/maps/dir/New+York,+NY/Key+West,+FL+33040/@32.3406075,-87.2570748,5z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!2m2!1d-74.0059728!2d40.7127753!1m5!1m1!1s0x88d1b134ad952377:0x3fcee92f77463b5e!2m2!1d-81.7799871!2d24.5550593!3e1

#### Import Pandas
import pandas as pd
#### Import Random
import random

In [2]:
### Create empty list
data = []

### Create function that randomly generates daily mileage
def log_mileage():
    mileage = 0
    while mileage <= 1512:
        x = random.randint(20,60)
        mileage = x + mileage
        data.append(mileage)

In [3]:
#### Run mileage function
log_mileage()
print(data)

[54, 93, 117, 162, 216, 268, 318, 357, 417, 450, 488, 509, 545, 572, 620, 645, 690, 737, 796, 835, 876, 925, 968, 996, 1019, 1050, 1110, 1140, 1165, 1185, 1241, 1272, 1318, 1340, 1386, 1441, 1498, 1531]

In [4]:
### Turn new list of data into a Data Frame
df = pd.DataFrame(data)
df.columns = ['Cumulative end of Day Mileage']
#### print cumulative end of day mileage DataFrame
print(df)

    Cumulative end of Day Mileage
0                              54
1                              93
2                             117
3                             162
4                             216
5                             268
6                             318
7                             357
8                             417
9                             450
10                            488
11                            509
12                            545
13                            572
14                            620
15                            645
16                            690
17                            737
18                            796
19                            835
20                            876
21                            925
22                            968
23                            996
24                           1019
25                           1050
26                           1110
27                           1140
28                           1165
29                           1185
30                           1241
31                           1272
32                           1318
33                           1340
34                           1386
35                           1441
36                           1498
37                           1531

In [5]:
### Calculating daily mileage

z = 0
data2 = []
for x in data:
    try:
        z = z + 1
        num = data[z]
        print(num - x)
        miles_per_day = num - x
        data2.append(miles_per_day)
    except Exception:
        continue

39
24
45
54
52
50
39
60
33
38
21
36
27
48
25
45
47
59
39
41
49
43
28
23
31
60
30
25
20
56
31
46
22
46
55
57
33

<div class="alert alert-block alert-warning">
<b>Note:</b> Kept hitting list index out of range error at num = data[z]. Pushed through via exception handling
</div>

In [6]:
### Turn the calculated daily mileage into a Data Frame
df2 = pd.DataFrame(data2)
df2.columns = ['Daily mileage']
### print Daily mileage DataFrame
print(df2)

    Daily mileage
0              39
1              24
2              45
3              54
4              52
5              50
6              39
7              60
8              33
9              38
10             21
11             36
12             27
13             48
14             25
15             45
16             47
17             59
18             39
19             41
20             49
21             43
22             28
23             23
24             31
25             60
26             30
27             25
28             20
29             56
30             31
31             46
32             22
33             46
34             55
35             57
36             33